
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPayBackLabel" translate="partyPaybackApp.payBack.home.createOrEditLabel">Create or edit a Pay Back</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.payBack.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.payBack.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="partyPaybackApp.payBack.ammount" for="field_ammount">Ammount</label>
            <input type="number" class="form-control" name="ammount" id="field_ammount"
                    ng-model="vm.payBack.ammount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="partyPaybackApp.payBack.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}" ng-model="vm.payBack.timestamp" is-open="vm.datePickerOpenStatus.timestamp"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="partyPaybackApp.payBack.source" for="field_source">Source</label>
            <select class="form-control" id="field_source" name="source" ng-model="vm.payBack.sourceId" ng-options="extandedUser.id as extandedUser.id for extandedUser in vm.extandedusers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="partyPaybackApp.payBack.toPay" for="field_toPay">To Pay</label>
            <select class="form-control" id="field_toPay" name="toPay" ng-model="vm.payBack.toPayId" ng-options="extandedUser.id as extandedUser.id for extandedUser in vm.extandedusers"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="partyPaybackApp.payBack.event" for="field_event">Event</label>
            <select class="form-control" id="field_event" name="event" ng-model="vm.payBack.eventId" ng-options="event.id as event.id for event in vm.events"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
