
<div>
    <h2><span translate="partyPaybackApp.event.detail.title">Event</span> {{vm.event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="partyPaybackApp.event.date">Date</span></dt>
        <dd>
            <span>{{vm.event.date | date:'medium'}}</span>
        </dd>
        <dt><span translate="partyPaybackApp.event.name">Name</span></dt>
        <dd>
            <span>{{vm.event.name}}</span>
        </dd>
        <dt><span translate="partyPaybackApp.event.location">Location</span></dt>
        <dd>
            <span>{{vm.event.location}}</span>
        </dd>
        <dt><span translate="partyPaybackApp.event.sendinEmail">Sendin Email</span></dt>
        <dd>
            <span>{{vm.event.sendinEmail}}</span>
        </dd>
        <dt><span translate="partyPaybackApp.event.participants">Participants</span></dt>
        <dd>
            <span ng-repeat="participants in vm.event.participants">
                <a ui-sref="extanded-user-detail({id: {{participants.id}}})">{{participants.name}}</a> <a href="mailto:{{participants.email}}">({{participants.email}})</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span translate="partyPaybackApp.event.owner">Owner</span></dt>
        <dd>
            <a ui-sref="extanded-user-detail({id:vm.event.ownerId})">{{vm.findUser(vm.event.ownerId).name}}</a>  <a href="mailto:{{vm.findUser(vm.event.ownerId).email}}">({{vm.findUser(vm.event.ownerId).email}})</a>
        </dd>

        <dt><span translate="partyPaybackApp.event.initialPayiments">Initials payments</span></dt>
        <dd ng-repeat="inits in vm.initials">
            <span translate="partyPaybackApp.event.initHasPaid"  translate-values="{amount: '{{inits.ammount}}', toPay: '{{vm.findUser(inits.userId).name}}' }">
                {{inits.ammount}}€ à {{vm.findUser(inits.userId).name}}
            </span>

        </dd>
    </dl>
    <pre>Event : {{vm.event | json}}</pre>
    <pre>Inits : {{vm.initials | json}}</pre>
    <pre>Paybacks : {{vm.paybacks | json}}</pre>


    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
