<div ng-cloak>
    <div>
        <h1 translate="home.title">Welcome, Party Monster!</h1>

        <div ng-switch="vm.isAuthenticated()">
            <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
            You are logged in as user "{{vm.account.login}}".
            </div>

            <div class="alert alert-warning"  ng-switch-when="false" >

                <div translate="global.messages.info.authenticated" translate-compile>
                Click here to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>.
                </div>

                <div translate="global.messages.info.register" translate-compile>
                You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
        </div>


        <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

            <div class="row">
                <div class="form-group col-md-8">
                    <label class="control-label" translate="partyPaybackApp.event.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.event.name"
                           required />
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" translate="partyPaybackApp.event.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.event.date" is-open="vm.datePickerOpenStatus.date"
                        />
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-md-8">
                    <label class="control-label" translate="partyPaybackApp.event.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.event.location"
                    />
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label" translate="partyPaybackApp.event.sendinEmail" for="field_sendinEmail">Sendin Email</label>

                    <input type="checkbox" class="form-control" name="sendinEmail" id="field_sendinEmail"
                    ng-model="vm.event.sendinEmail"
                    />
                </div>
            </div>

        </form>
        <div ng-if="vm.participants.length">
            <div class="row">
                <div class="col-md-4">Name</div>
                <div class="col-md-4">Email</div>
                <div class="col-md-2">Paiment</div>
                <div class="col-md-2">Owner</div>
            </div>
            <br/>
        </div>
        <div class="row" ng-repeat="part in vm.participants">
            <div class="col-md-4">{{part.name}}</div>
            <div class="col-md-4">{{part.email}}</div>
            <div class="col-md-2">{{part.paiment | currency : '€'}}</div>
            <div class="col-md-2">{{part.owner}}</div>

        </div>
        <md-divider></md-divider>

        <h4>Add a participant</h4>

        <form name="vm.addParticipantForm" role="form" novalidate ng-submit="vm.appendParticipant()"  >

            <div class="row">

                <md-input-container class="md-block col-md-4">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <label for="email">Nom</label>
                    <input id="name" label="name" name="name" ng-model="vm.newParticipant.name" required/>
                    <div ng-messages="vm.addParticipantForm.name.$error" md-auto-hide="false" ng-show="vm.addParticipantForm.name.$touched">
                        <div ng-message="required">
                            <span translate="Please enter a name."></span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block col-md-4">
                    <md-icon md-font-icon="zmdi zmdi-email"></md-icon>
                    <label for="email">Email</label>
                    <input id="email" label="email" name="email" type="email" ng-model="vm.newParticipant.email"/>
                    <div ng-messages="vm.addParticipantForm.email.$error" md-auto-hide="false" ng-show="vm.addParticipantForm.email.$touched">
                        <div ng-message="required">
                            <span translate="Please enter an email address."></span>
                        </div>
                        <div ng-message="email">
                            <span translate="Please enter a valid email address."></span>
                        </div>
                    </div>
                </md-input-container>


                <md-input-container class=" md-block col-md-2">
                    <md-icon md-font-icon="zmdi zmdi-money"></md-icon>
                    <label>Paiment</label>

                    <input required type="number" name="paiment" ng-model="vm.newParticipant.paiment"  min="0"/>


                    <div ng-messages="vm.addParticipantForm.paiment.$error" md-auto-hide="false" ng-show="vm.addParticipantForm.paiment.$touched" >
                        <div ng-message="required">
                            <span>Please enter an ammount.</span>
                        </div>

                        <div ng-message="min">
                            You can't give a negative number!
                        </div>
                        <div ng-message="number">
                            Please enter a number.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block col-md-2">

                    <md-switch ng-model="vm.newParticipant.owner" aria-label="Switch 1">
                        Owner
                    </md-switch>
                </md-input-container>

            </div>

            <div class="row">
                <md-button ng-click="vm.appendParticipant()" class="md-raised md-primary"  type="submit" ng-disabled="!vm.addParticipantForm.$valid">Add user</md-button>
                <md-button ng-click="vm.save()" class="md-raised md-primary"  type="submit" ng-disabled="!editForm.$valid || !vm.participants.length">Submit event</md-button>
            </div>


            <!--
            <pre> {{vm.participants | json }}</pre>
            <pre> {{vm.addParticipantForm | json }}</pre>
            -->

        </form>




    </div>

</div>
